name: Github actions

on:
  push:
  schedule:
    - cron: '0 8 * * 0'

jobs:
  Build:

    name: build

    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        image_tag: [old, stable, trunk]
        build_type: [Debug, Release]

    container: ghcr.io/mehdichinoune/debian-gfortran-testing:${{ matrix.image_tag }}

    steps:
    - uses: actions/checkout@v5
    - name: Preparing Data
      env:
        USERNAME: ${{ secrets.LPDAAC_USERNAME }}
        PASSWORD: ${{ secrets.LPDAAC_PASSWORD }}
      run: |
        echo machine urs.earthdata.nasa.gov >> ~/.netrc
        echo http-user="$USERNAME" >> ~/.wgetrc
        echo http-password="$PASSWORD" >> ~/.wgetrc
    - name: Configuring
      run: |
        cmake \
          -GNinja \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DHDF5_ROOT=/usr/local \
          -B build \
          -S .
    - name: Building
      run: ninja -C build
    - name: Running
      run: build/main
